<h1>Welcome to the Inventory Manager!</h1>
<p>Now you can make HTTP requests to <a href="https://inventory-manager.johnkattukudiyi.repl.co">https://inventory-manager.johnkattukudiyi.repl.co</a> and receive responses in return. This can be done using cURL, Postman, etc. Please see the <a href="https://github.com/jskattuk/inventory-manager/blob/master/README.md#application-endpoints">README.md</a> for the list of application endpoints.</p>
<p>Alternatively, the following links contain pre-made requests that can be run immediately. You will need to open them in a new tab to avoid replit connection issues.&nbsp;<strong>Note:</strong> If prompted, select "Proxy" as the interceptor.</p>
<p><a href="https://hopp.sh/r/NukAhEt2wzdX">https://hopp.sh/r/NukAhEt2wzdX</a></p>
<p><a href="https://hopp.sh/r/opp7FvBsT5Z2">https://hopp.sh/r/opp7FvBsT5Z2</a></p>
<p><a href="https://hopp.sh/r/wYDQfjG6OBd3">https://hopp.sh/r/wYDQfjG6OBd3</a></p>
<p><a href="https://hopp.sh/r/2ljR3uM6Pjax">https://hopp.sh/r/2ljR3uM6Pjax</a></p>
<p><a href="https://hopp.sh/r/pPdv15Sjgjy2">https://hopp.sh/r/pPdv15Sjgjy2</a></p>
