<h1>Welcome to the Inventory Manager!</h1>
<p>Now you can make HTTP requests to <a href="https://shopify-technical-challenge-submission.johnkattukudiyi.repl.co">https://shopify-technical-challenge-submission.johnkattukudiyi.repl.co</a> and receive responses in return. This can be done using cURL, Postman, etc. Please see the <a href="https://github.com/jskattuk/shopify-technical-challenge-submission/blob/master/README.md#application-endpoints">README.md</a> for the list of application endpoints.</p>
<p>Alternatively, the following links contain pre-made requests that can be run immediately.&nbsp;<strong>Note:</strong> If prompted, select "Proxy" as the interceptor.</p>
<p><a href="https://hopp.sh/r/5powCXjFeOC2">https://hopp.sh/r/5powCXjFeOC2</a></p>
<p><a href="https://hopp.sh/r/15LaLewaurpf">https://hopp.sh/r/15LaLewaurpf</a></p>
<p><a href="https://hopp.sh/r/EeTq59c2QGh0">https://hopp.sh/r/EeTq59c2QGh0</a></p>
<p><a href="https://hopp.sh/r/aIGIGE7ki3Nm">https://hopp.sh/r/aIGIGE7ki3Nm</a></p>
<p><a href="https://hopp.sh/r/3v92oWmpUNQa">https://hopp.sh/r/3v92oWmpUNQa</a></p>
